{% extends "base.html" %}

{% block meta %}
<meta name="description" content="available work">
{% endblock %}

{% block content %}
{% for artwork in available_artworks %}
    {% if artwork.url %}
    <a href="{{ static('images/' ~ artwork.url) }}">
        <img src="{{ static('images/' ~ artwork.image) }}" alt="{{ artwork.alt }}" class="home-image" width="{{ artwork.width }}">
    </a>
    {% else %}
    <img src="{{ static('images/' ~ artwork.image) }}" alt="{{ artwork.alt }}" class="home-image" width="{{ artwork.width }}">
    {% endif %}
{% endfor %}
{% endblock %}