{% extends "base.html" %}

{% block title %}About{% endblock %}

{% set active_page = 'cv' %}

{% block main_attributes %}style="width: auto;"{% endblock %}

{% block content %}
<img src="{{ static('images/portrait2.jpeg') }}" alt="A portrait of Adam Forsythe in his studio. Adam has a ginger beard, a white t-shirt and khaki pants, with a blue beanie on his head, sitting on a bench painting a painting in a green color, against a white background, with studio lighting" class="press-image" width="900" />
<p>
    Adam S. Forsythe is an artist whose work explores strange worlds filled with cryptids, monsters, and mythical beings. His art blends vibrant colors, playful imagery, and a touch of humor, inviting viewers to connect with creatures from the edges of folklore and imagination.
</p>
<p>
    Forsythe's paintings offer a unique balance between the whimsical and the mysterious, making extraordinary subjects feel familiar and personal. He creates meaningful, distinctive art that resonates with collectors who seek something special and truly different.
</p>
<h2 style="margin-top: 2em;">selected exhibitions</h2>
<ul style="padding: 0;" class="always-left">
    <li>2025, FONO, Bicep Press, Bristol, UK (Solo)</li>
    <li>2025, They come at night, RARO, Genova, Italy (Solo)</li>
    <li>2025, Works On Paper, Hunted Projects, Edinburgh, Scotland (Group)</li>
    <li>2024, PRIVATE LIFE, Toxic Arts, London, UK (Group)</li>
    <li>2024, Cunning Folk, Hunted Projects, Edinburgh, Scotland (Solo)</li>
    <li>2024, Liaison, Better Go South, Stuttgart, Germany (Group)</li>
    <li>2023, CARNIVALUS MAXIMUS, Shit Art Club, Los Angeles, USA (Group)</li>
    <li>2023, Through the Looking Glass, AucArt, London, UK (Group)</li>
    <li>2022, Sightings, Exhibit Gallery, Santander, Spain (Solo)</li>
    <li>2021, Revolution: Art & Change, The Holy Art, London, UK (Group)</li>
    <li>2020, Group show, Shrine.nyc, Online (Group)</li>
</ul>
<h2 style="margin-top: 2em;">publications</h2>
<ul style="padding: 0;" class="always-left">
    <li>2024, Fantasy Football Magazine, issue 1</li>
    <li>2024, ArtMaze Magazine, issue 34-37</li>
    <li>2023, Suboart Magazine, #6</li>
    <li>2023, Pavement Licker, No. 13</li>
</ul>
<h2 style="margin-top: 2em;">press & collaborations</h2>
<ul style="padding: 0;" class="always-left">
    <li>
        <a href="https://www.artsy.net/artist/adam-s-forsythe">artsy</a>
    </li>
    <li>
        <a href="https://artsinsquare.com/selected-artists/adam-forsythe">artsin square</a>
    </li>
    <li>
        <a href="https://www.huntedprojects.com/interviews/adamsforsythe">hunted projects</a>
    </li>
</ul>
{% endblock %}